@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

:root {
    --light100: #ddd;

    --blue400: #3283dc;
    --blue600: #282c34;

    --dark100: #777;
    --dark400: #333;
    --dark500: #1a1a1a;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--light100);
    background-image: radial-gradient(var(--dark500) 5%, var(--dark100) 5%);
    background-position: 0 0;
    background-size: 40px 40px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
}
